<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
</head>
<body>
	<aside th:fragment="layout-sidebar"
		th:class="${session.user == null or session.user.authority == 2} ? ${'search'} : ${'admin_menu'}">
		<!--/* 検索メニュー(非会員、一般会員用) */-->
		<div class="search_area" th:if="${session.user == null or session.user.authority == 2}">
			<h2 th:class="title" th:text="#{category.select.title}"></h2>
			<div class="form">
				<!--			 商品一覧画面以外で表示 -->
				<form th:if="${sortType == null}" th:action="@{/client/item/list/1}">
					<select name="categoryId">
						<option th:value="#{constants.category.select.none.no}"
							th:text="#{constants.category.select.none}"></option>
						<option th:each="category:${session.categoriesList}" th:value="${category.id}" th:text="${category.name}">
						</option>
					</select> <input type="submit" th:value="#{select}" />
				</form>
				<!--			 商品一覧画面上で表示 -->
				<form th:unless="${sortType == null}" th:action="@{/client/item/list/} + ${sortType}" >
					<select name="categoryId">
						<option th:value="#{constants.category.select.none.no}"
							th:text="#{constants.category.select.none}"></option>
						<option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"
							th:selected="${category.id} == ${categoryId}"></option>
					</select> <input type="submit" th:value="#{select}" />
				</form>
			</div>
			<div th:if="${session.user != null and session.user.authority == 2}">
				<h2 th:class="title" th:text="CDタイトル検索"></h2>
				<div class="form">
					<form method="get" th:action="@{/searchCD}">
						<input type="text" name="name" />
						<input type="submit" th:value="#{select}" />
					</form>
				</div>
				<h2 th:class="title" th:text="アーティスト検索"></h2>
				<div class="form">
					<form method="post" th:action="@{/searchArtist}">
						<input type="text" name="name" />
						<input type="submit" th:value="#{select}" />
					</form>
				</div>
				
				<!--				<h2 th:class="title" th:text="リリース年検索"></h2>-->
				<!--				<div class="form">-->
				<!--					<form method="post" th:action="@{/searchMonth}">-->
				<!--						<select name="releaseDate">-->
				<!--							<option th:value="2024">2024</option>-->
				<!--							<option th:value="2023">2023</option>-->
				<!--							<option th:value="2022">2022</option>-->
				<!--							<option th:value="2021">2021</option>-->
				<!--							<option th:value="2020">2020</option>-->

				<!--							</select>-->
				<!--						<input type="submit" th:value="#{select}" />-->
				<!--					</form>-->
				<!--				</div>-->

				<h2 th:class="title" th:text="値段検索"></h2>
				<div class="form">
					<form method="get" th:action="@{/searchPrice}">
						<select name="price">
							<option th:value="#{constants.category.select.none.no}"
								th:text="#{constants.category.select.none}"></option>
							<option th:value="1">1000円以下</option>
							<option th:value="2">1001～2000円</option>
							<option th:value="3">2001円～3000円</option>
							<option th:value="4">3001円～4000円</option>
							<option th:value="5">4001円～5000円</option>
							<option th:value="6">5000円以上</option>

						</select>
						<input type="submit" th:value="#{select}" />
					</form>
				</div>
			</div>
		</div>
		<!--/* メニュー(運用管理者、及びシステム管理者用) */-->
		<div th:if="${session.user != null and session.user.authority != 2}">
			<h2 th:class="title" th:text="#{admin.menu}"></h2>
			<ul class="menu">
				<li>
					<a th:href="@{/admin/user/list}" th:class="display_list" th:text="#{admin.menu.user.list}"></a>
				</li>
				<li th:if="${session.user.authority == 1}">
					<a th:href="@{/admin/order/list}" th:class="display_list" th:text="#{admin.menu.order.list}"></a>
				</li>
				<li th:if="${session.user.authority == 1}">
					<a th:href="@{/admin/item/list}" th:class="display_list" th:text="#{admin.menu.item.list}"></a>
				</li>
				<li th:if="${session.user.authority == 1}">
					<a th:href="@{/admin/category/list}" th:class="display_list"
						th:text="#{admin.menu.category.list}"></a>
				</li>
				<li th:if="${session.user.authority == 1}">
					<a th:href="@{/admin/artist/list}" th:class="display_list" th:text="#{admin.menu.artist.list}"></a>
				</li>
			</ul>
		</div>
	</aside>
</body>
</html>