<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{basket}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="user shopping_basket">
	<h2 th:class="title" th:text="#{basket}"></h2>

	<th:block th:if="${itemNameListLessThan != null || itemNameListZero != null}">
		<br />
				<!--/* 在庫不足商品 */-->
		<ul class="error_list_no_mark" th:if="${itemNameListLessThan != null}">
			<li th:each="err : ${itemNameListLessThan}" th:text="#{msg.basket.stock.short(${err})}"></li>

		</ul>
				<!--/* 在庫なし商品 */-->
		<ul class="error_list_no_mark" th:if="${itemNameListZero != null}">
			<li th:each="err : ${itemNameListZero}" th:text="#{msg.basket.stock.none(${err})}"></li>
		</ul>
		<br />
	</th:block>

	<div th:if="${session.basketBeans == null}">
		<!--/* 買い物かごが空のとき */-->
		<p th:text="#{msg.basket.list.none}"></p>
	</div>

	<th:block th:if="${session.basketBeans != null}">
		<table class="list_table basket">
			<tr>
				<td th:text="#{data.basket.item.name}"></td>
				<td>値段</td>
				<td th:text="#{data.basket.count}"></td>
				<td>小計</td>
				<td th:text="#{data.basket.operate}"></td>
				<td th:text="#{data.basket.stock.status}"></td>
			</tr>
			<tr th:each="item, status: ${session.basketBeans}">
				<td><a th:href="@{/client/item/detail/{id}(id=${item.id})}" th:text="${item.name}"></a></td>
				
				<td th:text="${item.price}+円"></td>
				
				<td>
					
					<form th:action="@{/client/basket/add}" method="post">
						<input type="hidden" name="id" th:value="${item.id}" /> 
						<input type="submit" value="＋" class="plus_button"/>
					</form>
					<form th:text="${item.orderNum}"></form>
					<form th:action="@{/client/basket/delete}" method="post">
						<input type="hidden" name="id" th:value="${item.id}" /> 
						<input type="submit" value="ー" class="minus_button"/>
					</form>
				</td>
				
				<td th:text="${item.priceSum}+円">
					
				</td>
				
				<td>
					<form th:action="@{/client/basket/oneDelete}" method="post">
						<input type="hidden" name="id" th:value="${item.id}" /> <input type="submit" value="削除"
							class="delete" />
					</form>
				</td>
				
				<td th:if="${item.stock == 0}" th:text="#{data.out.of.stock}"></td>
				<td th:if="${item.stock > 5}" th:text="#{data.in.stock}"></td>
				<td th:if="${item.stock >= 1 and 5 >= item.stock }" th:text="${item.stock}"></td>
			</tr>
			<tr>
				<td>
				合計
				</td>
				<td>
					
				</td>
				
				<td>
					
				</td>
				<td th:text="${session.priceSum}+円">
					
				</td>
				<td></td>
				<td></td>
				
			</tr>
		</table>
		
		<div class="user_info_form_area shopping_button">
			<form th:action="@{/client/item/list/1}" method="post">
				<input type="submit" value="買い物を続ける" class="back_button" />
				</form>
			<!--/* 注文手続きフォーム */-->
			
			<!--/* 買い物かごを空にするフォーム */-->
			<form th:action="@{/client/basket/allDelete}" method="post">
				<input type="submit" value="買い物かごを空にする" class="delete" />
			</form>
			<form th:action="@{/client/order/address/input}" method="post">
				<input type="submit" value="ご注文のお手続き" />
			</form>
			
		</div>
	</th:block>
</body>

</html>