<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_4block :: layout(~{::title},~{::body/content()})}">

<head>
	<title th:text="#{item}+#{title.list}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body class="admin item_list_admin">
<div class="item_list_admin">
	<h2 th:class="title" th:text="#{item}+#{title.list}"></h2>
		<!-- /*追加登録不可メッセージ */-->
	<ul class="error_message" th:unless="${registrable}">
	<br/>
		<li class="error_msg">
			<span th:text="#{msg.admin.cannot.regist(#{item})}"></span>
		</li>
	</ul>
	<!--/* 登録なしメッセージ */-->
	<div th:if="${#lists.isEmpty(items)}">
		<p th:text="#{msg.admin.list.none(#{item})}"></p>
	</div>

	
	<form th:action="@{/admin/item/regist/input}" method="post" class="sign_up_form">
		<input type="submit" value="商品新規登録" class="menu_button" th:if="${registrable}" />
	</form>

	

	<!--/* 一覧表示 */-->
	<div class="item_list_table">
	<table class="list_table item_list" th:if="!${#lists.isEmpty(items)}">
		<tbody>
		<tr>
			<th>[[#{data.id}]]</th>
			<th>[[#{itemForm.name}]]</th>
			<th>[[#{itemForm.price}]]</th>
			<th>[[#{data.category}]]</th>
			<th>[[#{data.operate}]]</th>
		</tr>
		<!--/* 商品情報 */-->
		<tr th:each="item: ${items}">
			<td th:text="${item.id}"></td>
			<td><a th:href="@{/admin/item/detail/{id}(id=${item.id})}" th:text="${item.name}"></a></td>
			<td th:text="${item.price}"></td>
			<td th:text="${item.category.name}"></td>
			<td>
				<form th:action="@{/admin/item/update/input/{id}(id=${item.id})}" method="post">
					<input type="submit" value="変更" />
				</form>
				<form th:action="@{/admin/item/delete/check/{id}(id=${item.id})}" method="post">
					<input type="submit" value="削除" class="delete" />
				</form>
			</td>
		</tr>
		</tbody>
	</table>
	</div>
</div>
</body>

</html>